[user]
	email = {{ git.email }}
	name = {{ git.name }}
{% if 'signing_key' in git %}
  signingkey = {{ git.signing_key }}

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
{% if mac_os %}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{% else %}
  program = "/opt/1Password/op-ssh-sign"
{% endif %}

{% endif %}

{% if 'replacements' in git %}
{% for replacement in git.replacements %}

[url "{{ replacement.use }}"]
	insteadOf = "{{ replacement.instead_of }}"
{% endfor %}
{% endif %}


[url "git@github-{{name}}:"]
  insteadOf = https://github.com/

