export NPM_GITHUB_TOKEN="op://jpksggxxmcuwnbwkooktr3iqcy/ut3yag6r7y4bsfrztahp7pcc6q/password"
export NODE_AUTH_TOKEN=$NPM_GITHUB_TOKEN
export GITHUB_TOKEN="op://Employee/lobazchngpvla4opw4rwzjwnoi/credential"
export AWS_PROFILE="zeronorth"
